!!!

%html
  %head
    %meta{:content => 'text/html; charset=utf-8', 'http-equiv' => 'Content-Type'}
    %title= "Laura Valverde García"

  %body
    %h1
      Sinatra: Work it!
    %p
      Escríbeme en 
      %em
        me arroba laura punto vg
